<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Ouverture de session</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
</head>
<body class="container">
    <div id="main-content" class="panel panel-default" align="center" style="vertical-align: center">
    <h1>Ouverture de session</h1>
    <h2>Veuillez vous identifier</h2>
    <div th:if="${param.error}">
        Utilisateur ou mot de passe invalide(s).
    </div>
    <div th:if="${param.logout}">
        La session est terminée.
    </div>
    <form th:action="@{/login}" method="post">
        <table>
            <tr><td><label> Utilisateur : </label></td><td><input type="text" name="username" value="a@cgodin.qc.ca"/></td></tr>
            <tr><td><label> Mot de passe: </label></td><td><input type="password" name="password" value="A"/></td></tr>
        </table>
        <br />
        <input type="submit" value="Établir une session" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>