<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="fr">

<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="js/dojo.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Dojo</title>

</head>
<body class="container">
    <br />
    <div id="main-content" class="panel panel-default">
        <div style="margin-left:5px">
            <br />

            <div>
                <div sec:authorize="isAnonymous()">
                    <img id="uneImage" src="images/anonyme.jpg"/>
                    <span id="lblCompte">visiteur, aucun rôle, ceinture et groupe</span>
                    <br />
                    <br />
                    <form th:action="@{/login}" method="post">
                        <input type="submit" class="btn btn-default" value="Ouvrir une session"/>
                    </form>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <span th:each="compte : ${lesComptes} " >
                        <div th:if="${compte.getCourriel()}==${#authentication.name}">
                            <span id="uneImageSrc" hidden="hidden" th:text="${compte.getAvatar()}"></span>
                            <img th:src="${compte.getAvatar()}"/>
                            <span name="alias" id="alias" th:text="${compte.getAlias()}"></span>,
                            <span th:text="${compte.getRole()}"></span>, ceinture
                            <span th:text="${compte.getGroupe()}"></span>,
                            <span th:text="${compte.getCourriel()}"></span>
                        </div>
                    </span>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <br />
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Fin de la session"/>
                    </form>
                </div>
            </div>

            <hr />

            <div id="liens" class="panel-primary">
                <p> Cliquer <a th:href="@{/ecole}">ici</a> pour voir les membres de notre école.</p>
                <p sec:authorize="isAuthenticated()"> Cliquer <a th:href="@{/kumite}">ici</a> pour accéder à la salle de kumite.</p>
                <p sec:authorize="hasAnyAuthority('VÉNÉRABLE','SENSEI')"> Cliquer <a th:href="@{/gradation}">ici</a> pour accéder au passage de grades.</p>
            </div>

            <hr />
            <div sec:authorize="isAuthenticated()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="texte">Votre message:</label>
                            <input type="text" id="texte" class="form-control" placeholder="Entrez votre texte ici...">
                        </div>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <button id="envoyerPrive" class="btn btn-default" type="submit" >Envoyer message privé</button>
            </div>
            <div sec:authorize="hasAnyAuthority('ANCIEN','SENSEI','VÉNÉRABLE')">
                 <br />
                 <button id="envoyerPublique" class="btn btn-default" type="submit" >Envoyer message publique</button>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="conversation" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Réponses</th>
                        </tr>
                        </thead>
                        <tbody id="reponses">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>