<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="fr">

<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Dojo</title>

</head>
<body class="container">
<br />
<div id="main-content" class="panel panel-default">
    <div style="margin-left:5px" align="center">
        <br />
        <table class="table table-striped">
            <tr><th colspan="3" style="text-align: center" class="h3">VÉNÉRABLE</th></tr>
                <span th:each="compte : ${lesComptes}">
                    <span th:if="${compte.getRole()}=='VÉNÉRABLE'">
                        <tr style="width: 100%">
                            <td colspan="2" style="text-align: right"><img th:src="${compte.getAvatar()}"/></td>
                            <td style="text-align: center" th:text="${compte.getAlias()} + ', ceinture ' + ${compte.getGroupe()} + ', utilisateur=' + ${compte.getCourriel()}"></td>
                         </tr>
                    </span>
                </span>
             </tr>
            <tr><th colspan="3" style="text-align: center" class="h3">SENSEI</th></tr>
                <span th:each="compte : ${lesComptes}">
                    <span th:if="${compte.getRole()}=='SENSEI'">
                        <tr>
                            <td colspan="2" style="text-align: right"><img th:src="${compte.getAvatar()}"/></td>
                            <td style="text-align: center" th:text="${compte.getAlias()} + ', ceinture ' + ${compte.getGroupe()} + ', utilisateur=' + ${compte.getCourriel()}"></td>
                        </tr>
                    </span>
                </span>
            <tr><th colspan="3" style="text-align: center" class="h3">ANCIEN</th></tr>
                <span th:each="compte : ${lesComptes}">
                    <span th:if="${compte.getRole()}=='ANCIEN'">
                        <tr>
                            <td colspan="2" style="text-align: right"><img th:src="${compte.getAvatar()}"/></td>
                            <td style="text-align: center" th:text="${compte.getAlias()} + ', ceinture ' + ${compte.getGroupe()} + ', utilisateur=' + ${compte.getCourriel()}"></td>
                        </tr>
                    </span>
                </span>
            <tr><th colspan="3" style="text-align: center" class="h3">NOUVEAU</th></tr>
                <span th:each="compte : ${lesComptes}">
                    <span th:if="${compte.getRole()}=='NOUVEAU'">
                        <tr>
                            <td style="text-align: right" colspan="2"><img th:src="${compte.getAvatar()}"/></td>
                            <td style="text-align: center" th:text="${compte.getAlias()} + ', ceinture ' + ${compte.getGroupe()} + ', utilisateur=' + ${compte.getCourriel()}"></td>
                        </tr>
                    </span>
                </span>
            <tr><th colspan="3" style="text-align: center" class="h3">HONTE</th></tr>
            <span th:each="compte : ${Shame}">
                        <tr>
                            <td style="text-align: right" colspan="2"><img th:src="${compte.getAvatar()}"/></td>
                            <td style="text-align: center" th:text="${compte.getAlias()} + ', ceinture ' + ${compte.getGroupe()} + ', utilisateur=' + ${compte.getCourriel()}"></td>
                        </tr>
                </span>
        </table>
        <div>
        </div>
        <p> Cliquer <a th:href="@{/}">ici</a> pour retourner au dojo.</p>
    </div>
</div>
</body>
</html>