<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="js/gradation.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Passage de grades</title>
</head>
<body class="container">
<span id="admin" th:text="${#authentication.name}" hidden="hidden"></span>
<br />
<div id="main-content" class="panel panel-default">
    <div style="margin-left:5px" align="center">
        <div class="panel panel-default">
            <table class="table table-striped">
                <tr style="text-align: center">
                    <td colspan="5" style="text-align: center">
                        Membres admissibles à l'examen
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td>Avatar</td>
                    <td>Courriel</td>
                    <td>Ceinture</td>
                    <td>Réussite</td>
                    <td>Envoyer</td>
                </tr>
                <tbody style="text-align: center">
                    <tr th:each="compte : ${lesComptesCeinture}">
                        <td><img th:src="${compte.getAvatar()}"></td>
                        <td><span th:text="${compte.getCourriel()}" ></span></td>
                        <td><span th:text="${compte.getGroupe()}"></span></td>
                        <td><input type="checkbox" th:id="ch+${compte.getCourriel()}"/></td>
                        <td><input type="submit" th:id="${compte.getCourriel()}" onclick="passerCeinture(this)" value="Envoyer"/></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <table class="table table-striped">
                <tr style="text-align: center">
                    <td colspan="3" style="text-align: center">
                        Liste de la honte
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td>Avatar</td>
                    <td>Courriel</td>
                    <td>Ceinture</td>
                </tr>
                <tbody style="text-align: center">
                <tr th:each="compte : ${lesComptesHonteux}">
                    <td><img th:src="${compte.getAvatar()}"></td>
                    <td><span th:text="${compte.getCourriel()}" ></span></td>
                    <td colspan="2"><span th:text="${compte.getGroupe()}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default">
            <table class="table table-striped">
                <tr style="text-align: center">
                    <td colspan="4" style="text-align: center">
                        Liste prêt pour l'ancienneté
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td>Avatar</td>
                    <td>Courriel</td>
                    <td>Ceinture</td>
                    <td>Rendre ancien</td>
                </tr>
                <tbody style="text-align: center">
                <tr th:each="compte : ${lesComptesVersAncien}">
                    <td><img th:src="${compte.getAvatar()}"></td>
                    <td><span th:text="${compte.getCourriel()}" ></span></td>
                    <td><span th:text="${compte.getGroupe()}"></span></td>
                    <td><input type="submit" th:id="'ancien'+${compte.getCourriel()}" onclick="devenirAncien(this)" value="Rendre ancien"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-default" sec:authorize="hasAuthority('VÉNÉRABLE')">
            <table class="table table-striped">
                <tr style="text-align: center">
                    <td colspan="5" style="text-align: center">
                        Liste des ceintures noires
                    </td>
                </tr>
                <tr style="text-align: center">
                    <td>Avatar</td>
                    <td>Courriel</td>
                    <td>Ceinture</td>
                    <td>Est sensei</td>
                    <td>Envoyer</td>
                </tr>
                <tbody style="text-align: center">
                <tr th:each="compte : ${lesComptesVersSensei}">
                    <td><img th:src="${compte.getAvatar()}"></td>
                    <td><span th:text="${compte.getCourriel()}" ></span></td>
                    <td><span th:text="${compte.getGroupe()}"></span></td>
                    <span th:if="${compte.getRole() == 'SENSEI'}"><td><input th:id="'chSen'+${compte.getCourriel()}" type="checkbox" checked="checked"/></td></span>
                    <span th:if="${compte.getRole() != 'SENSEI'}"><td><input th:id="'chSen'+${compte.getCourriel()}" type="checkbox"/></td></span>
                    <td><input type="submit" th:id="'SEN'+${compte.getCourriel()}" onclick="versSensei(this)" value="Envoyer"/></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p style="margin-left:5px"> Cliquer <a th:href="@{/}">ici</a> pour retourner au dojo.</p>
    </div>
</div>
</body>
</html>